* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: opacity 0.4s;
  color: #2c9de9;
}

a:hover {
  opacity: 0.5;
}

.home-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(111.6deg, #000 0%, #222 65.1%);
}

header {
  width: 100%;
  padding: 40px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #999;
}

header a#icon {
  display: none;
}

header.bg {
  background: #222;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  height: 40px;
  width: 40px;
  border-radius: 8px;
}

.brand h1 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #f1f1f1;
  margin-left: 20px;
  text-transform: uppercase;
}

.wrapper {
  height: auto;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.wrapper .column {
  min-width: 50%;
  margin: 100px 0;
}

.wrapper .column h2 {
  max-width: 400px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #fafafa;
  line-height: 115%;
  margin-bottom: 40px;
}

.wrapper .column p {
  max-width: 400px;
  font-size: 16px;
  line-height: 150%;
  color: #cccccc;
  margin-bottom: 60px;
}

.wrapper .column button {
  height: 60px;
  background: #0071bc;
  border-radius: 8px;
  border: 0;
  padding: 10px 50px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  transition: box-shadow 0.4s ease-in-out;
}

.wrapper .column button:hover {
  box-shadow: 0px 5px 50px rgba(255, 255, 255, 0.1);
}

.wrapper .column button img {
  margin-right: 15px;
}

.wrapper > img {
  width: 50%;
  height: 550px;
  max-height: 100%;
  object-fit: contain;
}

.section {
  background: #222;
  padding: 100px 10%;
}

.section h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #fafafa;
  line-height: 115%;
  margin-bottom: 40px;
}

.section h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #fafafa;
  line-height: 115%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.section p {
  font-size: 16px;
  line-height: 150%;
  color: #cccccc;
  margin-bottom: 20px;
  max-width: 60%;
}

.download-section {
  background: #111;
  padding: 100px 10%;
  display: flex;
  justify-content: center;
}

button.download {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #eee;
  border: 0;
  border-radius: 8px;
  margin: 0 10px;
}

button.download > img {
  height: 30px;
  width: 30px;
}

button.download > div {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button.download > div span {
  font-size: 14px;
}

button.download > div h3 {
  font-size: 18px;
}

footer {
  background: #222;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
}

footer p,
footer a {
  color: #999;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

footer a {
  color: #ddd;
}

footer.bg-dark {
  background: #111;
}

.animate-opacity-one {
  animation: opacOne 1s ease-in-out;
}

.animate-opacity-two {
  animation: opacTwo 1s ease-in-out;
}

.animate-opacity-three {
  animation: opacThree 1s ease-in-out;
}

.animate-opacity-mobile {
  animation: opac 2s ease-in-out;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacOne {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacTwo {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  30% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacThree {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  60% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 800px) {
  header a {
    display: none;
  }

  header a#icon {
    display: block;
  }

  .section p {
    max-width: 100%;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 40px 10%;
    padding-bottom: 0;
  }

  .wrapper .column {
    width: 100%;
  }

  .wrapper > img {
    width: 100%;
  }

  .download-section {
    flex-direction: column;
    align-items: center;
  }

  button.download {
    margin: 10px 0;
    justify-content: center;
  }
}
